




.footer{
    background-color: rgb(40, 86, 94);
    color: white;
    padding-top: 30px;
    padding-bottom: 20px;
}



.footer_bottom{
    background-color: aqua;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 1s5px;
}
